.mainBlock {
    min-height: 100vh;
    background-color: #ffd4e3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    background-color: #97a4ff;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 20px;

}

.photo img {
    width: 300px;
    height: 400px;
    background-color: #C1FF65;

}

@media (max-width: 391px) {
    .text {
        width: 100%;
    }

    .photo img {
        width: 100%;
    }
}
